numpy==1.22.0
gm==3.0.159
matplotlib==3.5.1
statsmodels==0.13.1
scipy==1.7.3
requests==2.27.0
demjson==1.6
mysql-connector==2.2.9
typing==3.7.4.3
mpl_finance==0.10.1
SQLAlchemy==1.4.27
psutil
urllib3==1.26.4
mplfinance==0.12.9b1
pytdx==1.72
