numpy==1.22.0
gm==3.0.137
futu-api==5.12.2408
wxpython==4.1.1
matplotlib==3.5.1
statsmodels==0.13.1
scipy==1.7.3
requests==2.27.0
demjson==1.6
seaborn==0.11.2
tabulate==0.8.9
mysql-connector==2.2.9
squarify==0.4.3
typing==3.7.4.3
chardet
mpl_finance==0.10.1
SQLAlchemy==1.4.27
redis==4.1.1
sklearn
schedule==1.1.0
psycopg2
psutil
requests==2.25.1
urllib3==1.26.4
mplfinance==0.12.9b1
datacompy==0.8.1